* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mainwrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header {
  width: 100%;
  height: 20%;
}
.sideb {
  flex: 2;
  height: 80%;
}
.rv {
  height: 80%;
  flex: 8;
}
